	<footer>
		<div class="container">
			<div class="row">
				Social network &copy; <%= new Date().getFullYear() %>
			</div>
		</div>
	</footer>
</div>

<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Reply</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<form onsubmit="return doPostReply(this);">
					<input type="hidden" name="postId">
					<input type="hidden" name="commentId">
					<textarea name="reply" placeholder="Post your reply"></textarea>
					<button type="submit">Post</button>
				</form>
			</div>
		</div>
	</div>
</div>

<%- include ("pro-version") %>

<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/script.js"></script>
<script src="/public/js/main.min.js"></script>
<script src="/public/js/socket.io.js"></script>

<script>

	window.user = null;

	function getUser() {

		if (localStorage.getItem("accessToken")) {

			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/getUser", true);

			ajax.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {

					var response = JSON.parse(this.responseText);

					if (response.status == "success") {
						window.user = response.data;

						if (typeof isUpdateProfile !== "undefined" && isUpdateProfile) {
							showProfileData();
						}

						if (typeof isHomePage !== "undefined" && isHomePage) {
							showAddPost();
							showNewsfeed();
						}

						if (typeof isSearchResults !== "undefined" && isSearchResults) {
							showSearchResults();
						}

						if (typeof isPostDetail !== "undefined" && isPostDetail) {
							showPostDetails();
						}

						if (typeof isNotifications !== "undefined" && isNotifications) {
							showNotifications();
							markNotificationsAsRead();
						} else {
							var notificationsCount = 0;
							for (var a = 0; a < window.user.notifications.length; a++) {
								if (!window.user.notifications[a].isRead) {
									notificationsCount++;
								}
							}
							if (notificationsCount > 0) {
								document.getElementById("notifications-badge").innerHTML = "(" + notificationsCount + ")";
							}
						}

					} else {
						localStorage.removeItem("accessToken");
					}
					showMainMenu();
				}
			};

			var formData = new FormData();
			formData.append("accessToken", localStorage.getItem("accessToken"));
			ajax.send(formData);
		} else {
			showMainMenu();
		}
	}

	function showMainMenu() {
		var html = "";

		if (localStorage.getItem("accessToken")) {
			html += '<li>';
				html += '<a href="/pages">Pages</a> ';
				html += '&nbsp;<i class="fa fa-star">Pro</i>';
			html += '</li>';

			html += '<li>';
				html += '<a href="/groups">Groups</a> ';
				html += '&nbsp;<i class="fa fa-star">Pro</i>';
			html += '</li>';

			html += '<li>';
				html += '<a href="/updateProfile">Profile</a>';
			html += '</li>';

			html += '<li>';
				html += '<a href="/logout" onclick="return doLogout();">Logout</a>';
			html += '</li>';
		} else {
			html += '<li>';
				html += '<a href="/login">Login</a>';
			html += '</li>';

			html += '<li>';
				html += '<a href="/signup">Signup</a>';
			html += '</li>';
		}

		document.getElementById("main-menu").innerHTML = html;
	}

	function doLogout() {
		localStorage.removeItem("accessToken");
		return true;
	}

	window.onload = function () {
		getUser();
	};

	window.onerror = function (file, line, error) {
		alert(file + " " + line + " " + error);
	};
</script>

<style>
	.fa.fa-star {
		color: yellowgreen !important;
	}
</style>

</body>

</html>