<%- include ("includes/header") %>

<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="page-contents">

                        <div class="col-md-3">
                            <%- include ("includes/left-sidebar") %>
                        </div>

                        <div class="col-md-6">
                            <div class="central-meta">
                                <div class="tab-content">
                                    <div class="tab-pane active fade show">
                                        <h3>People who viewed your profile</h3>
                                        <ul class="nearby-contct" id="profile-views"></ul>

                                        <h3 class="text-center"><i class="fa fa-star">Premium feature</i></h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include ("includes/footer") %>