<%- include ("includes/header") %>

<section class="premium-section">
    <div class="gap white-bg">

        <div class="container-fluid" style="margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;">
          <div class="demo10">
              <div class="container">
                  <!-- <h2 class="py-4 text-center">Pricing Table</h2> -->
                  <div class="row">
                      <div class="col-md-6">
                          <div class="pricingTable10">
                              <div class="pricingTable-header">
                                  <h3 class="heading">Free</h3>
                                  <span class="price-value">
                                    <span class="currency">$</span> 0
                                    <!-- <span class="month">/lifetime</span> -->
                                  </span>
                              </div>
                              <div class="pricing-content">
                                  <ul>
                                        <li>Login and Registration</li>
                                        <li><del>Email Confirmation</del></li>
                                        <li><del>Reset Password</del></li>
                                        <li>Update Profile</li>
                                        <li>Posts</li>
                                        <li>Like, Comment and Reply</li>
                                        <li><a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="sharePostInTimelinePageGroup">Share post in timeline, pages and groups</a></li>
                                        <li>Notifications</li>
                                        <li>Search</li>
                                        <li><del>Create Friends</del></li>
                                        <li><del>Create Pages</del></li>
                                        <li><del>Create Groups</del></li>
                                        <li><del>Private Chat</del></li>
                                        <li><del>People who viewed your profile</del></li>
                                        <li><del>Edit and delete post</del></li>
                                        <li><del>Load more posts using AJAX</del></li>
                                        <li><del>Send images and videos in chat messages</del></li>
                                        <li><del>View list of people who liked and shared your post</del></li>
                                        <li><del>End to end encryption on chat</del></li>
                                        <li><del>Customer support</del></li>
                                        <li><del>Ban & delete user</del></li>
                                        <li><del>Filter bad/abusive words</del></li>
                                        <li><del>Adult image validation</del></li>
                                        <li><del>Ban post</del></li>
                                        <li><del>Add audio files in the post</del></li>
                                        <li><del>Create events</del></li>
                                        <li><del>Embed YouTube video in post</del></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="pricingTable10">
                              <div class="pricingTable-header">
                                  <h3 class="heading">Premium</h3>
                                  <span class="price-value">
                                    <span class="currency">$</span> 20
                                    <!-- <span class="month">/lifetime</span> -->
                                  </span>
                              </div>
                              <div class="pricing-content">
                                  <ul>
                                    <li>Login and Registration</li>
                                    <li>Email Confirmation</li>
                                    <li>Reset Password</li>
                                    <li>Update Profile</li>
                                    <li>Posts</li>
                                    <li>Like, Comment and Reply</li>
                                    <li><a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="sharePostInTimelinePageGroup">Share post in timeline, pages and groups</a></li>
                                    <li>Notifications</li>
                                    <li>Search</li>
                                    <li>Create Friends</li>
                                    <li>Create Pages</li>
                                    <li>Create Groups</li>
                                    <li>Private Chat</li>
                                    <li><a href="javascript:void(0);" class="link-modal" onclick="ondemoClicked(this);" data-href="seePeopleWhoViewedYourProfile">People who viewed your profile</a></li>
                                    <li><a href="javascript:void(0);" class="link-modal" onclick="ondemoClicked(this);" data-href="seeEditDeletePost">Edit and delete post</a></li>
                                    <li><a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="loadMorePosts">Load more posts using AJAX</a></li>
                                    <li><a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="sendImagesAndVideosInChat">Send images and videos in chat messages</a></li>
                                    <li><a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="peopleLikedAndSharedPost">View list of people who liked and shared your post</a></li>
                                    <li><a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="endToEndEncryption">End to end encryption on chat</a></li>
                                    <li><a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="customerSupport">Customer support</a></li>
                                    <li><a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="banDeleteUser">Ban & delete user</a></li>
                                    <li><a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="filterBadWords">Filter bad/abusive words</a></li>
                                    <li><a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="adultImageValidation">Adult image validation</a></li>
                                    <li><a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="banPost">Ban post</a></li>
                                    <li>Add audio files in the post</li>
                                    <li>
                                      <a href="javascript:void(0);" onclick="ondemoClicked(this);" class="link-modal" data-href="createEvents">
                                        Create events
                                      </a>
                                    </li>
                                    <li>Embed YouTube video in post</li>

                                    <li>Advertisement (boost post)</li>
                                    <li>Emoji comments</li>
                                    <li>Like, dislike, comments on stories</li>
                                    <li>People nearby</li>
                                    <li>Group chat</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

        <style>
          del {
            font-weight: normal;
            color: lightgray;
          }
          .pricingTable10 a {
            color: #09b1c5;
            font-weight: normal;
          }
          .pricingTable10 a:hover {
            text-decoration: underline;
          }
          .demo10{
              /*background:#C0BFBF;*/
              padding:30px 0
          }
           .pricingTable10{
              text-align:center;
              border: 1px solid #C0BFBF;
          }
           .pricingTable10 .pricingTable-header{
              padding:30px 0;
              background:#4d4d4d;
              position:relative;
              transition:all .3s ease 0s
          }
           .pricingTable10:hover .pricingTable-header{
              background:#09b2c6
          }
           .pricingTable10 .pricingTable-header:after,.pricingTable10 .pricingTable-header:before{
              content:"";
              width:16px;
              height:16px;
              border-radius:50%;
              border:1px solid #d9d9d8;
              position:absolute;
              bottom:12px
          }
           .pricingTable10 .pricingTable-header:before{
              left:40px
          }
           .pricingTable10 .pricingTable-header:after{
              right:40px
          }
           .pricingTable10 .heading{
              font-size:20px;
              color:#fff;
              text-transform:uppercase;
              letter-spacing:2px;
              margin-top:0
          }
           .pricingTable10 .price-value{
              display:inline-block;
              position:relative;
              font-size:55px;
              font-weight:700;
              color:#09b1c5;
              transition:all .3s ease 0s
          }
           .pricingTable10:hover .price-value{
              color:#fff
          }
           .pricingTable10 .currency{
              font-size:30px;
              font-weight:700;
              position:absolute;
              top:6px;
              left:-19px
          }
           .pricingTable10 .month{
              font-size:16px;
              color:#fff;
              position:absolute;
              bottom:15px;
              /*right:-30px;*/
              text-transform:uppercase
          }
           .pricingTable10 .pricing-content{
              padding-top:50px;
              background:#fff;
              position:relative
          }
           .pricingTable10 .pricing-content:after,.pricingTable10 .pricing-content:before{
              content:"";
              width:16px;
              height:16px;
              border-radius:50%;
              border:1px solid #7c7c7c;
              position:absolute;
              top:12px
          }
           .pricingTable10 .pricing-content:before{
              left:40px
          }
           .pricingTable10 .pricing-content:after{
              right:40px
          }
           .pricingTable10 .pricing-content ul{
              padding:0 20px;
              margin:0;
              list-style:none
          }
           .pricingTable10 .pricing-content ul:after,.pricingTable10 .pricing-content ul:before{
              content:"";
              width:8px;
              height:46px;
              border-radius:3px;
              background:linear-gradient(to bottom,#818282 50%,#727373 50%);
              position:absolute;
              top:-22px;
              z-index:1;
              box-shadow:0 0 5px #707070;
              transition:all .3s ease 0s
          }
           .pricingTable10:hover .pricing-content ul:after,.pricingTable10:hover .pricing-content ul:before{
              background:linear-gradient(to bottom,#40c4db 50%,#34bacc 50%)
          }
           .pricingTable10 .pricing-content ul:before{
              left:44px
          }
           .pricingTable10 .pricing-content ul:after{
              right:44px
          }
           .pricingTable10 .pricing-content ul li{
              font-size:15px;
              font-weight:700;
              color:#777473;
              padding:10px 0;
              border-bottom:1px solid #d9d9d8
          }
           .pricingTable10 .pricing-content ul li:last-child{
              border-bottom:none
          }
           .pricingTable10 .read{
              display:inline-block;
              font-size:16px;
              color:#fff;
              text-transform:uppercase;
              background:#d9d9d8;
              padding:8px 25px;
              margin:30px 0;
              transition:all .3s ease 0s
          }
           .pricingTable10 .read:hover{
              text-decoration:none
          }
           .pricingTable10:hover .read{
              background:#09b1c5
          }
           @media screen and (max-width:990px){
              .pricingTable10{
                  margin-bottom:25px
              }
          }
          /* Credit to https://bootsnipp.com/snippets/92erW */
        </style>

        <div class="container" style="margin-bottom: 50px;">
            <div class="row">
                <div class="col-md-12">
                    <p style="color: #535353; font-size: 16px;" class="text-center">
                        <i class="fa fa-envelope"></i>
                        support@adnan-tech.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
  function ondemoClicked(self) {
    var value = self.getAttribute("data-href");

    if (value == "createEvents") {
      document.querySelector("#demoModal .modal-title").innerHTML = "Create events";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/DQHahy-ZX0A");
    }
    
    if (value == "seePeopleWhoViewedYourProfile") {
      document.querySelector("#demoModal .modal-title").innerHTML = "People who viewed your profile";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/nS7K9xaYBpE");
    }

    if (value == "seeEditDeletePost") {
      document.querySelector("#demoModal .modal-title").innerHTML = "Edit and delete post";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/L074n5LUy7k");
    }

    if (value == "loadMorePosts") {
      document.querySelector("#demoModal .modal-title").innerHTML = "Load more posts using AJAX";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/5iUhX7Ea87k");
    }

    if (value == "sendImagesAndVideosInChat") {
      document.querySelector("#demoModal .modal-title").innerHTML = "Send images and videos in chat messages";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/xnbp7yazFDM");
    }

    if (value == "sharePostInTimelinePageGroup") {
      document.querySelector("#demoModal .modal-title").innerHTML = "Share post in timeline, pages, and groups";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/MN6CYkmal3c");
    }

    if (value == "peopleLikedAndSharedPost") {
      document.querySelector("#demoModal .modal-title").innerHTML = "View list of people who liked and shared your post";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/899zvOhe3eo");
    }

    if (value == "endToEndEncryption") {
      document.querySelector("#demoModal .modal-title").innerHTML = "End-to-end encryption";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/YHa4rlhjwrA");
    }

    if (value == "customerSupport") {
      document.querySelector("#demoModal .modal-title").innerHTML = "Customer support";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/YHa4rlhjwrA?start=65");
    }

    if (value == "banDeleteUser") {
      document.querySelector("#demoModal .modal-title").innerHTML = "Ban & delete user";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/YHa4rlhjwrA?start=192");
    }

    if (value == "filterBadWords") {
      document.querySelector("#demoModal .modal-title").innerHTML = "Filter bad/abusive words";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/YHa4rlhjwrA?start=242");
    }

    if (value == "adultImageValidation") {
      document.querySelector("#demoModal .modal-title").innerHTML = "Adult image validation";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/YHa4rlhjwrA?start=270");
    }

    if (value == "banPost") {
      document.querySelector("#demoModal .modal-title").innerHTML = "Ban post";
      document.querySelector("#demoModal .modal-body iframe").setAttribute("src", "https://www.youtube.com/embed/YHa4rlhjwrA?start=303");
    }

    $("#demoModal").modal("show");
  }
</script>

<div class="modal" id="demoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<%- include ("includes/footer") %>